version: 2
jobs:

  build:
    working_directory: ~/repo

    docker:
      # Primary container image where all commands run
      - image: circleci/openjdk:8-jdk
        environment:
          # Customize the JVM maximum heap limit
          MAVEN_OPTS: -Xmx4096m

    steps:
      - add_ssh_keys:
          fingerprints:
            - "7d:e4:9c:6e:f5:30:0a:f0:16:0d:80:1e:73:7c:88:c2"
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
      - run:
          name: Full Build
          command:  mvn dependency:go-offline install
      - save_cache: # saves the project dependencies
        paths:
          - ~/.m2
        key: v1-dependencies-{{ checksum "pom.xml" }}
